{% extends 'AppClub/base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}
    <!-- Content section 1-->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'AppClub/assets/PDA.png' %}" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Nuestra Historia..</h2>
                        <p>Comenzamos como un equipo de futbol Amateur en el año 2007, recorrimos barrios torneos  en la Ciudad de La Plata y construimos un vínculo que se fortaleció día a día. De aquel equipo de amigo nos transformamos en un club social para continuar con la tradición y los valores que nosotros mismos forjamos..</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 2-->
    <section>
        
                  <section class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 text-center">
                            <div class="p-5">
                        <h2 class="display-4">Disciplinas que Brindamos</h2>
                        <p>El club tiene como objetivo el crecimiento y sumar constantemente actividades para que sus socios tengan todo tipo de opciones.  Futbol, básquet, pádel, tenis, vóley entre otros deportes, a su vez contamos con el desarrollo de jornadas de ajedrez, pingpong, yoga , truco y mucho mas.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
                </div>
            </div>
        </div>
    </section>
    {% endblock main %}